@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body{
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , sans-serif;
}

a{
  text-decoration: none;
  color: #000;
}

p{
  font-size: 12px;
}

.more{
  font-size: 14px;
  font-family: "Lato";
  font-weight: 300;
}

/* ↑共通要素 */

.logo{
  width: 138px;
  position: fixed;
  top: 33px;
  left: 59px;
  z-index: 1;
}
.logo img{
  width: 100%;
}
.menu-btn span{

}


.menu{
  display: inline-block;
  visibility: hidden;
  background-color: red;
}

.intro{
  background-color: #fff;
}

.history{
  height: 800px;
  background-image: url(image/bg_history.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.history-box{
  text-align: center;
  position: absolute;
  top: 235px;
  right: 265px;
}
.history-box img{
  margin-bottom: 41px;
}
.history-box p{
  line-height: 2em;
  margin-bottom: 61px;
}

.navy-box{
  display: flex;
  justify-content: center;
}

.navy-cap{
  
}

.essey{
  background-color: #F2F4F4;
}


.link{
  background-color: #fff;
}

.footer{
  background-color: #403E3D;
}
