@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body{
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , sans-serif;
}

a{
  text-decoration: none;
  color: #000;
}

p{
  font-size: 12px;
}
.header{
  position: fixed;
  z-index: 9999;
}


.more{
  font-size: 14px;
  font-family: "Lato";
  font-weight: 300;
}

/* ↑共通要素 */

.logo{
  width: 138px;
  position: fixed;
  top: 33px;
  left: 59px;

}
.logo img{
  width: 100%;
}
.menu-btn span{

}


.menu{
  display: inline-block;
  visibility: hidden;
  background-color: red;
}


.intro{
  display: flex;
  height: 800px;
}
.intro-box{
  margin: 0 auto;
  position: relative;
  display: flex;
  width: 900px;
  /* background-color: red; */
}
.intro-cap {

  position: absolute;
  top: 183px;
  left: 140px;
}
.intro-read {

  position: absolute;
  top: 183px;
  right: 136px;
}


.history{
  height: 800px;
  background-image: url(image/bg_history.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  }

.history-box{
  text-align: center;
  position: absolute;
  top: 235px;
  right: 265px;
}
.history-box img{
  margin-bottom: 41px;
}
.history-box p{
  line-height: 2em;
  margin-bottom: 61px;
}




.navy{
  height: 800px;
  position: relative;

}

.navy-box{
  display: flex;
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
}

.navy-cap{
  position: relative;
  top: 87px;
}
.navy-cap p{
  margin: 35px 0 0 0;
}
.navy-cap a{
  display: block;
  margin: 60px 0 0 0;
}

.navy-img{
  position: relative;
  left: 30px;
}



.essay{
  background-color: #F2F4F4;
}
.essay-title{
  padding-top: 150px;
}
.essay-title .writer{
  margin-top:10px;
}
.essay-title p{
  margin-top:35px;
  line-height: 2.1em;
  letter-spacing: 0.09em;
}
.essays{
  margin-top: 100px;
  width: 900px;
  margin: 0 auto;
}
.essays a{
  padding-bottom: 10px;
  display: inline-block;
  position: relative;

}
.essays-brand{
  padding-top: 20px;
}
.thum{
  margin-top: 20px;
}
.essays-title{
  margin: 20px auto 0;
  padding: 15px 30px;
  font-size: 24px;
  letter-spacing: 0.05em;
  background-image:
    url(image/bg_left_bracket.png),
    url(image/bg_right_bracket.png);
  background-repeat: no-repeat,no-repeat;
  background-position: top left,bottom right;
  display: inline-block;
  position: relative;
}
.essays-story{
  margin: 35px 0 30px;
}

.link{
  background-color: #fff;
}

.footer{
  background-color: #403E3D;
}
